<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registeration</title>
</head>
<body>
<h1>REGISTERATION</h1>
<form action="register" method="post"><br>
     {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username"><br><br>
    <input type="text" name="firstname" placeholder="Enter Your First Name"><br><br>
    <input type="text" name="lastname" placeholder="Enter Your Last Name"><br><br>
    <input type="email" name="email" placeholder="Enter your email"><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="password" name="password1" placeholder="Confirm Password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h1>{{msg}}</h1>
{% endfor %}
</body>
</html>